body {
    background: lightskyblue;
    margin: auto;
    max-width: 960px;
}

table {
    background: lightgrey
}

#summary {
    padding: 10px;
    text-align: center;
}
img {
    size: auto;
    padding: 10px;
}

div {
    margin: auto;
}

p {
    padding: 7px;
    margin-left: 5px;
}

h1 {
    padding: 7px;
}

h2 {
    padding: 7px;
}